<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboottest.dao.DataDictMapper">
    <select id="queryDataDictDetail" resultType="com.springboottest.model.DataDict">
        SELECT  * from data_dict where id =#{id}
    </select>
</mapper>